@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "KelsonBold";
    src: url(font/fonts/Kelson-Bold.otf);
  }

  @font-face {
    font-family: "KelsonRegular";
    src: url(font/fonts/Kelson-Regular.otf);
  }

  @font-face {
    font-family: "KelsonLight";
    src: url(font/fonts/Kelson-Light.otf);
  }

  @font-face {
    font-family: "KelsonMedium";
    src: url(font/fonts/Kelson-Medium.otf);
  }

  @font-face {
    font-family: "KelsonExtraLight";
    src: url(font/fonts/Kelson-ExtraLight.otf);
  }

  @font-face {
    font-family: "KelsonExtraBold";
    src: url(font/fonts/Kelson-ExtraBold.otf);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

input[type="text"] {
  caret-color: "#212121";
  caret-width: 2px;
}

.f-center {
  @apply flex justify-center items-center;
}
